
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}

@model ProjectTwitter.UI.Areas.Member.Models.VM.AddTweetVM

<section class="content-header">
    <ol class="breadcrumb">
        @*<li><a href="/Member/Home/MemberHomeIndex"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Admin/Member/List">Forms</a></li>*@
        <li class="active">Add Tweet</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Tweet</h3>
                </div>
                <form action="/Member/Tweet/Add" method="post" role="form" enctype="multipart/form-data">
                    <div class="box-body">
                        
                        <div class="form-group">
                            <label for="Content">Tweet Content</label>
                            <textarea type="text" name="Content" rows="10" class="form-control" placeholder="Content"></textarea> 
                        </div>
                        @*<div class="form-group">
                            <label for="PublishDate">PublishDate</label>
                            <input type="text" name="PublishDate" class="form-control" placeholder="PublishDate">
                        </div>*@
                    </div>
                    
                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

